/* Base */

@import url("./base/normalize.css");
@import url("./base/useful.css");
@import url("./base/variables.css");

/* Pages */

@import url("./pages/init.css");

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}